<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="${cp}/resources/stylesheet.css" rel="stylesheet">
</head>
<footer>
        <div>
            <a>KIM JI WON | NAM AH YEON | GOOTT ACADAMY</a><br/>
            <a>08393 | 33, Siheung-daero 163-gil, Guro-gu, Seoul (Guro-dong)</a><br/>
            <a>Seoul Exhibition 488-81-01678 | checking 2021-0912</a><br/>
	        <a href="#">Terms & Conditions </a>
	        <a href="#">| Privacy Policy </a>
	        <a>| Seoul Exhibition </a>
        </div>
</footer>
</html>